#buildWrapper{

  height: inherit;
  width: inherit;

  display: flex;

    .left-column{
      flex:1;
      border: 1px solid black;
    }

    .right-column{
      flex:1;
      border: 1px solid black;

        .pipeline{
            
            display: flex;
            height: 100%;
            flex-direction: column;

           .details{
              
              border: 1px solid black;
              
              p {
                font-size: 12px;
              }
           } 
        }
    }

}