html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

#app{
  height: 100%;
  width: 100%;
}

.theBigWrapper{
  height: 100%;
  width: 100%;
  display: flex;
}

@import "./major/home.scss";
@import "./major/dashboard.scss";
@import "./major/ballots.scss";
@import "./major/profile.scss";