html {
  overflow: hidden;
  height: 100%; }

body {
  height: 100%;
  overflow: hidden;
  margin: 0; }

#app {
  height: 100%;
  width: 100%; }

.theBigWrapper {
  height: 100%;
  width: 100%;
  display: flex; }

#loginBox {
  background: blue;
  display: flex;
  align-items: center;
  width: 75%;
  height: 80vh;
  margin: 5% auto;
  justify-content: center; }
  #loginBox #loginForm {
    display: flex;
    flex-direction: column;
    width: 30%; }
    #loginBox #loginForm input[type="text"] {
      font-size: 20px;
      border: 0px;
      margin: 1% 0; }

#dashWrapper {
  height: inherit;
  width: inherit;
  display: inherit; }
  #dashWrapper #buttonWrapper {
    display: flex;
    background: blue;
    align-items: center;
    width: 75%;
    height: 80vh;
    margin: 5% auto;
    justify-content: center;
    flex-direction: column; }
    #dashWrapper #buttonWrapper .dashButton {
      flex: 1;
      display: flex;
      font-size: 20px;
      border-left: 2px solid white;
      border-right: 2px solid white;
      width: 50%;
      color: white;
      align-items: center;
      justify-content: center; }
    #dashWrapper #buttonWrapper .dashButton:nth-of-type(1) {
      margin: 1% 0 0 0;
      border-bottom: 1px solid white;
      border-top: 2px solid white; }
    #dashWrapper #buttonWrapper .dashButton:nth-of-type(2) {
      margin: 0 0 1% 0;
      border-top: 1px solid white;
      border-bottom: 2px solid white; }

#ballotsWrapper {
  display: flex;
  background: blue;
  align-items: center;
  width: 75%;
  height: 80vh;
  margin: 5% auto; }
  #ballotsWrapper #schoolSelector {
    width: 30%; }

input {
  margin: 0;
  padding: 0; }

#buildWrapper {
  height: inherit;
  width: inherit;
  display: flex; }
  #buildWrapper .left-column {
    flex: 1;
    border: 1px solid black;
    display: flex;
    height: 100%;
    flex-direction: column; }
    #buildWrapper .left-column .tournament-creator {
      flex: 1 1 50px;
      overflow: hidden;
      margin: 0 0 0 0; }
      #buildWrapper .left-column .tournament-creator .banner {
        background: red;
        text-align: center;
        width: 100%; }
        #buildWrapper .left-column .tournament-creator .banner h1 {
          color: white;
          font-size: 2em;
          width: 100%;
          margin: 4% auto; }
      #buildWrapper .left-column .tournament-creator .form-box {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: red;
        flex-direction: column; }
        #buildWrapper .left-column .tournament-creator .form-box .tournamentCreatorForm {
          width: 58%;
          height: 60%;
          margin: 5% auto;
          display: flex;
          flex-flow: row wrap; }
          #buildWrapper .left-column .tournament-creator .form-box .tournamentCreatorForm #nameRecord {
            flex: 1 100%; }
          #buildWrapper .left-column .tournament-creator .form-box .tournamentCreatorForm #prelimRecord {
            flex: 1 40%; }
          #buildWrapper .left-column .tournament-creator .form-box .tournamentCreatorForm #outRoundRecord {
            flex: 1 40%; }
          #buildWrapper .left-column .tournament-creator .form-box .tournamentCreatorForm #notesRecord {
            flex: 1 100%; }
          #buildWrapper .left-column .tournament-creator .form-box .tournamentCreatorForm .formInput {
            font-size: 2em; }
        #buildWrapper .left-column .tournament-creator .form-box #newTournamentButton {
          color: black;
          border: 1px solid white;
          box-shadow: 0px 1% 3% -3% #888888;
          margin: 3% auto;
          width: 40%;
          text-align: center;
          font-size: 2em; }
    #buildWrapper .left-column .editBox {
      flex: 5 1 500px;
      border-top: 1px solid black;
      border-bottom: 1px solid black; }
      #buildWrapper .left-column .editBox .banner {
        background: red;
        text-align: center; }
        #buildWrapper .left-column .editBox .banner h1 {
          color: white; }
    #buildWrapper .left-column .edit-enter {
      flex: 0 0 0px;
      opacity: 0.01; }
    #buildWrapper .left-column .edit-enter-active {
      flex: 5 1 500px;
      opacity: 1;
      transition: opacity 500ms ease-in, flex 500ms ease-in-out; }
    #buildWrapper .left-column .edit-exit {
      opacity: 1;
      flex: 5 1 500px; }
    #buildWrapper .left-column .edit-exit-active {
      opacity: 0.01;
      transition: opacity 500ms ease-in, flex 500ms ease-in-out;
      flex: 0 0 0px; }
  #buildWrapper .right-column {
    flex: 1;
    border: 1px solid black;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll; }
    #buildWrapper .right-column .details {
      flex: 1 1 auto;
      border: 1px solid black;
      height: 100%;
      display: flex; }
      #buildWrapper .right-column .details .title {
        flex: 3; }
        #buildWrapper .right-column .details .title span {
          font-size: 2em; }
      #buildWrapper .right-column .details .edit-or-delete {
        flex: 1;
        display: flex; }
        #buildWrapper .right-column .details .edit-or-delete .option {
          flex: 1 1 auto;
          color: black;
          width: 100%; }
        #buildWrapper .right-column .details .edit-or-delete .option-enter {
          width: 0%; }
        #buildWrapper .right-column .details .edit-or-delete .option-enter-active {
          width: 100%;
          transition: width 500ms ease-in-out; }
        #buildWrapper .right-column .details .edit-or-delete .option-exit {
          width: 100%; }
        #buildWrapper .right-column .details .edit-or-delete .option-exit-active {
          width: 0%;
          transition: width 250ms ease-in-out; }
        #buildWrapper .right-column .details .edit-or-delete #edit {
          background-color: green; }
        #buildWrapper .right-column .details .edit-or-delete #delete {
          background-color: red; }

/*# sourceMappingURL=styles.css.map */
